<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Keuangan 2025</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- FontAwesome Icons CDN -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <!-- Vue.js 2 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <style>
    .icon-card {
      font-size: 2.5rem;
    }

    .spd-icon {
      color: #ff9800;
    }

    .kkp-icon {
      color: #03a9f4;
    }

    .realisasi-icon {
      color: #4caf50;
    }

    /* Styling for the current month's table */
    .highlight-table {
      transform: scale(1.5);
      transition: transform 0.3s ease;
    }

    .check-icon {
      color: green;
    }

    .cross-icon {
      color: red;
    }

    /* Default CSS untuk ukuran layar besar (desktop) */
    /* Responsif untuk layar kecil dan menengah */
    @media (max-width: 767px) {
      .custom-table {
        font-size: 0.7rem;
      }

      .custom {
        font-size: 0.9rem;
      }
    }

    @media (min-width: 768px) {

      .custom-table,
      td,
      tr {
        font-size: 1.3rem;
        /* Ukuran font lebih besar untuk tablet dan desktop */
      }

      .custom {
        font-size: 1.25rem;
        font-weight: 700;

      }

    }
  </style>
</head>

<body>
  <div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: aquamarine;">
      <div class="container">
        <!-- Logo di kiri -->
        <a class="navbar-brand" href="#">
          <i class="fas fa-chart-pie"></i> Dashboard Keuangan
        </a>

        <!-- Tombol untuk navbar di perangkat kecil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu navigasi di kanan -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- ms-auto digunakan untuk memindahkan navbar ke kanan -->
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://nu2883.github.io/perjadinOne/">SPD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">KKP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank"
                href="https://docs.google.com/spreadsheets/d/1TcBh9yxRhjLCitmOqNWvGhmAlyaG5eIEOSQ0nGj-BeI/edit?gid=1692963314#gid=1692963314">Realisasi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Dashboard -->
    <div class="container my-4">
      <header class="mb-4">
        <h1 class="text-center">Dashboard Keuangan 2025</h1>
      </header>

      <!-- Statistik -->
      <!-- <div class="row mb-4">
        <div class="col-md-4 mt-1" v-for="(stat, index) in stats" :key="index">
          <a :href="stat.link" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
            <div class="card text-center">
              <div class="card-body">
                <i :class="['icon-card', stat.icon, stat.iconColor]"></i>
                <h5 class="card-title mt-2">{{ stat.label }}</h5>
                <p class="card-text fs-4 fw-bold">{{ stat.value }}</p>
              </div>
            </div>
          </a>
        </div>
      </div> -->

      <!-- Statistik manual -->
      <div class="row mb-4" v-if="dataDash.length > 0">
        <!-- {{dataDash}} -->
        <div class="col-md-4 mt-1">
          <a href="https://nu2883.github.io/perjadinOne/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
            <div class="card text-center ">
              <div class="card-body">
                <i :class='["icon-card", "fas fa-file-alt", "spd-icon" ]'></i>
                <h5 class="card-title mt-2 ">SPD on Proses</h5>
                <p class="card-text fs-4 fw-bold  ">{{dataDash[0].col1}} Dokumen</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 mt-1">
          <a href="#" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
            <div class="card text-center ">
              <div class="card-body">
                <i :class='["icon-card", "fas fa-folder-open", "kkp-icon" ]'></i>
                <h5 class="card-title mt-2 ">KKP on Proses</h5>
                <p class="card-text fs-4 fw-bold  ">{{dataDash[1].col1}} Dokumen</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 mt-1">
          <a href="https://docs.google.com/spreadsheets/d/16aMwpbirzpbxMOgJdGemzHUB8j78W48tuK6o-2zsYt0/edit?gid=1226670547#gid=1226670547" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
            <div class="card text-center ">
              <div class="card-body">
                <i :class='["icon-card", "fas fa-check-circle", "realisasi-icon" ]'></i>
                <h5 class="card-title mt-2 ">Total Realisasi</h5>
                <p class="card-text fs-4 fw-bold  ">Rp {{dataDash[2].col1 | formatNominal }} ({{dataDash[2].col3 | formatPersen}})</p>
              </div>
            </div>
          </a>
        </div>

      </div>

      <div class="container p-3">
        <h3>Realisasi per Bidang</h3>
        <table class="table table-striped">
          
            <tr v-for="x in realisasi">
              <td >{{x.col1}}</td>
              <td >{{x.col2}}</td>
              <td >{{x.col3}}</td>
              <td >{{x.col4}}</td>
              <td style="text-align: right;" >{{x.col5 | formatNominal}}</td>
              <td style="text-align: right;" >{{x.col6 | formatNominal}}</td>
              <td style="text-align: right;">{{x.col7 | formatNominal}}</td>
              <td style="text-align: center;" >{{x.col8 | formatPersen}}</td>
  
  
            </tr>
          
        </table>
  
      </div>
      <!-- Monitoring Transaksi per Bulan -->
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0" style="font-size: 1rem;"><i class="fas fa-calendar"></i> Monitoring Transaksi per Bulan</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="custom-table table table-striped table-sm"
              style="background-color: #ff9800; border-collapse: collapse; width: 100%; font-size: 0.7rem; border: 1px solid black;">
              <thead>
                <!-- {{monthlyTransactions}} -->
                <tr>
                  <th style="font-size: 0.9rem; text-align: center;">Transaksi</th>
                  <th v-for="(item, index) in monthlyTransactions" :key="index" style="text-align: center;">
                    {{ item.month }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: left;">Trx KKP</td>
                  <td style="text-align: center;" v-for="(status, index) in monthlyKKP1" :key="index">
                    <i v-if="status !== 'none'" :class="[
                        status === true ? 'fas fa-check-circle check-icon' :
                        'fas fa-times-circle cross-icon'
                      ]"></i>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;">Trx Digipay</td>
                  <td style="text-align: center;" v-for="(status, index) in monthlyDigipay1" :key="index">
                    <i v-if="status !== 'none'" :class="[
                        status === true ? 'fas fa-check-circle check-icon' :
                        'fas fa-times-circle cross-icon'
                      ]"></i>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;">Trx CMS</td>
                  <td style="text-align: center;" v-for="(status, index) in monthlyCMS1" :key="index">
                    <i v-if="status !== 'none'" :class="[
                        status === true ? 'fas fa-check-circle check-icon' :
                        'fas fa-times-circle cross-icon'
                      ]"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>





  </div>

  <!-- Bootstrap JS CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          dataDash: [],
          currentMonth: new Date().getMonth(), // Current month (0-11)
          stats: [
            { label: 'SPD on Proses', value: '13 Dokumen', icon: 'fas fa-file-alt', iconColor: 'spd-icon', link: 'https://nu2883.github.io/perjadinOne/' },
            { label: 'KKP on Proses', value: '1 Dokumen', icon: 'fas fa-folder-open', iconColor: 'kkp-icon' },
            { label: 'Total Realisasi', value: 'Rp 18,378,020', icon: 'fas fa-check-circle', iconColor: 'realisasi-icon', link: 'https://docs.google.com/spreadsheets/d/1TcBh9yxRhjLCitmOqNWvGhmAlyaG5eIEOSQ0nGj-BeI/edit?gid=1692963314#gid=1692963314' },
          ],
          monthlyTransactions: [
            { month: 'Jan' }, { month: 'Feb' }, { month: 'Mar' }, { month: 'Apr' },
            { month: 'Mei' }, { month: 'Jun' }, { month: 'Jul' }, { month: 'Agu' },
            { month: 'Sep' }, { month: 'Okt' }, { month: 'Nov' }, { month: 'Des' }
          ]
        };
      },
      computed: {
        realisasi() {
          return this.dataDash.slice(6, 13);
        },
        monthlyKKP1() {
          const data = this.dataDash[3];
          if (data && typeof data === "object") {
            return Object.values(data).slice(0, 12);
          } else {
            return [];
          }
        },
        monthlyDigipay1() {
          const data = this.dataDash[4];
          if (data && typeof data === "object") {
            return Object.values(data).slice(0, 12);
          } else {
            return [];
          }
        },
        monthlyCMS1() {
          const data = this.dataDash[5];
          if (data && typeof data === "object") {
            return Object.values(data).slice(0, 12);
          } else {
            return [];
          }
        }
      },
      filters: {
        formatTanggal(value) {
          if (!value) return "";
          const date = new Date(value); // Konversi ke objek Date
          const year = date.getFullYear();
          const month = String(date.getMonth() + 1).padStart(2, "0"); // Bulan dimulai dari 0
          const day = String(date.getDate()).padStart(2, "0");
          return `${year}-${month}-${day}`; // Format yyyy-mm-dd
        },
        formatNominal(value) {
          if (!value) return "";
          return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        },
        formatPersen(value) {
  if (value === undefined || value === null) return ""; // Jika nilai tidak ada, kembalikan string kosong
  const parsedValue = parseFloat(value); // Konversi ke angka
  if (isNaN(parsedValue)) return ""; // Jika bukan angka, kembalikan string kosong
  return `${(parsedValue * 100).toFixed(2)}%`; // Kalikan dengan 100, format dengan 2 desimal, dan tambahkan simbol persen
}

      },
      methods: {
        ambilDash() {
          this.dataDash = [];
          const url =
            "https://script.google.com/macros/s/AKfycbwTchCvKWMTP5xz50QimdIJglnOOOQsHq8Iai0HkN8ohCIWnhMBKppFVl9yNXvV88tX/exec?action=read&table=dash";

          let app = this;
          $.getJSON(url, function (json) {
            app.dataDash = json.data;
          });
        },
      },
      created() {
        this.ambilDash();
      }
    });
  </script>
</body>

</html>
